.home-part{
    width: 90%;
    padding:  20px 50px;
    background-color: #bed6ff;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
    font-family:'Courier New', Courier, monospace
}


  
  /* @media (min-width: 768px) {
    .carousel-item {
      flex-basis: 15%;
      max-width: 200px;
    }
  } */
  
  /* @media (min-width: 1024px) {
    .carousel-item {
      flex-basis: 29%;
      max-width: 250px;
    }
  } */