.home-part{
    width: 90%;
    padding:  20px 50px;
    background-color: #bed6ff;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
    font-family:'Courier New', Courier, monospace
}